include README.rst
include LICENSE
recursive-include dash/categories/templates *
recursive-include dash/dashblocks/templates *
recursive-include dash/orgs/templates *
recursive-include dash/stories/templates *
recursive-include testfiles *
