[tool.poetry]
name = "rapidpro-dash"
version = "1.10.0"
description = "Support library for RapidPro dashboards"
authors = ["Nyaruka Ltd <code@nyaruka.com>"]
license = "BSD"
classifiers=[
    "Development Status :: 5 - Production/Stable",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "License :: OSI Approved :: BSD License",
    "Operating System :: OS Independent",
    "Programming Language :: Python",
    "Framework :: Django",
]
packages = [
    { include = "dash" },
]

[tool.poetry.urls]
repository = "http://github.com/rapidpro/dash"

[tool.poetry.dependencies]
python = "^3.9"
Django = ">= 3.2, < 4.1"
celery = "^5.0"
django-compressor = "^3.1"
django-hamlpy = "^1.4.3"
django-redis = "^4.12.1"
django-timezone-field = "^4.1.1"
Pillow = "^9.0.0"
phonenumbers = "^8.12.16"
psycopg2-binary = "<2.9.0"
python-dateutil = "^2.8.1"
rapidpro-python = "^2.9.0"
smartmin = "^4.2.0"
sorl-thumbnail = "^12.7.0"
isort = {extras = ["pyproject"], version = "^5.10.1"}

[tool.poetry.dev-dependencies]
black = "^22.12.0"
isort = "^5.1.0"
colorama = "^0.4.3"
codecov = "^2.1.11"
ruff = "^0.0.171"

[tool.black]
line-length = 119

[tool.ruff]
line-length = 120
select = ["E", "F", "W"]
ignore = ["E501", "F405"]
fix = true
exclude = ["./.tox/*", "./.venv/*", "./env/*", "*/migrations/*", "./build/*"]

[tool.isort]
multi_line_output = 3
force_grid_wrap = 0
line_length = 119
include_trailing_comma = true
combine_as_imports = true
sections = ["FUTURE", "STDLIB", "THIRDPARTY", "DJANGO", "FIRSTPARTY", "LOCALFOLDER"]
known_django = ["django"]

[tool.coverage.run]
source = ["dash"]

[tool.coverage.report]
omit = ["*/migrations/*", "*/tests*", "*__init__*", "*settings*", "*management/commands*", "dash/test.py"]

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
